/* general settings */
#waybar {
    background: rgba(0, 0, 0, 0);
}

/* base font settings */
* {
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    font-size: 1em;
    color: #ffffff;
}

/* modules general styling */
#workspaces, #clock, #cpu, #memory, #network, #pulseaudio, #battery {
    padding: 0 0.7em;
    background-color: #000000;
    border-radius: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    color: white;
}

/* clock module */
#clock {
    font-weight: bold;
}

/* hyprland workspaces module */
#workspaces button {
    border-radius: 0.5em;
}
#workspaces button.active, button:hover {
    background-color: white;
}
#workspaces button.active label, button:hover label, button {
    color: #000000;
}

/* battery module */
#battery, #battery.warning, #battery.critical, #battery.charging, #battery.plugged {
    color: #000000;
}
#battery {
    background-color: white;
}
#battery.warning {
    background-color: #f96c00;
}
#battery.critical {
    background-color: #f90010;
}
#battery.charging, #battery.plugged {
    background-color: #26A65B;
}

